<%- include('../partials/layout-start') %>

<div class="container-sm book-container">
    <h1>Welcome to Our Library</h1>
    <div class="d-flex justify-content-center gap-3">
        <% if (user) { %>
            <a href="/user/me" class="btn btn-primary">Profile</a>
            <form action="/user/logout" method="POST">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        <% } else { %>
            <a href="/user/login" class="btn btn-primary">Login</a>
            <a href="/user/signup" class="btn btn-success">Signup</a>
        <% } %>
    </div>
</div>

<%- include('../partials/layout-end') %>